{% extends 'base.html' %}


{%block title%}
Login page
{% endblock %}





{% block content %}

  
<style>
    .login--wrapper {
        display: flex;
        align-items: center;
        height: 80vh;
        justify-content: center;
    }

    .form {
        width: 500px;
    }
</style>
<div class="container">
    <div class="login--wrapper">

    {% if page == 'login' %}    

<form method="post" class="form">
    {% csrf_token %}
    <h1>Login</h1>
    <h4>Login to view Pyshop</h4>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Usernmae</label>
        <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password"  id="exampleInputPassword1">
        </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <p> Don't have an account    <a href="{% url 'register'%}">Register</a> </p>
</form>
    {% else %}
        <form action="" method="post">
            <h1>Register</h1>
            {% csrf_token %}
            {% for field in form %}
            <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
               {{field}} 
             {% endfor %}  
            <button type="submit" class="btn btn-primary">Submit</button>
            <p> Already have an account?  <a href="{% url 'login' %}">Login</a></p>
        </form>
    {% endif %}
</div>
    </div>

{% endblock %}